page-device-settings {
    padding-top: 50px;
    // margin:auto;
    background-color: rgba(0, 0, 0, 0.7);
    // ion-content.content{
    //     // top: 12%;
    //     // left: 10%;
    //     margin: 5%;
    //     width: 90%;
    //     // height: calc(100% - 8px - 8px);
    //     // height: 70%;
    //     border-radius: 20px;
    //     .scroll-content {
    //         border-radius: 20px;
    //     }
    // }

    div{
        background: white;
        height: auto;
        width: 90%;
        margin: auto;
        border-radius: 5px;
    }
    // .close-button {
    //     position: absolute;
    //     z-index: 1;
    //     top: 11%;
    //     right: 0;
    //     border: 0;
    //     padding: 5px 2px;
    //     font-size: 3rem;
    // }

    .range-md,
    .range-ios {
        padding: 0px;
    }

    .label-md {
        /* margin: 13px 8px 13px 0; */
        margin: 0px;
    }

    ion-input{
        border-bottom: 2px solid gray;

        .text-input-md {
            /* margin: 13px 8px; */
            margin: 0;
            padding: 0;
            width: calc(100% - 8px - 8px);
        }
    }


}
